<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>307536211956-vfjhq6j934s04ehei5kboagcjf4a997n.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.307536211956-vfjhq6j934s04ehei5kboagcjf4a997n</string>
	<key>API_KEY</key>
	<string>AIzaSyA-CEaJdASreL2jJggcYdyLZMC_FO6KfqU</string>
	<key>GCM_SENDER_ID</key>
	<string>307536211956</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.mhsApp</string>
	<key>PROJECT_ID</key>
	<string>username-req</string>
	<key>STORAGE_BUCKET</key>
	<string>username-req.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:307536211956:ios:dae03aef60c48f2af293a1</string>
	<key>DATABASE_URL</key>
	<string>https://username-req-default-rtdb.firebaseio.com</string>
</dict>
</plist>